<ion-content>
  <ng-container *ngIf="movies">
    <ion-list>
      <ion-item href="/movie-details" *ngFor="let movie of movies">
        <ion-thumbnail>
          <ion-img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}"></ion-img>
        </ion-thumbnail>
        <div class="separator"></div>
        <ion-label>
          <h2>{{movie.original_title}}</h2>
          <p>{{movie.overview}}</p>
        </ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item >
    </ion-list>
  </ng-container>

  <ion-content *ngIf="!movies">
    <ion-spinner name="crescent"></ion-spinner>
  </ion-content>
</ion-content>