<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title>Detalle Película</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons>
        <ion-back-button></ion-back-button>
        <ion-title>Detalle Película</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- content -->
</ion-content>
